.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container--gallery {
  padding-top: 36px;
  padding-bottom: 36px;
}

@media only screen and (min-width: 1200px) {
  .container--gallery {
    max-width: 1128px;
  }
}
