/* Footer / Footer */
.page-footer {
  padding: 16px 0;
}

.footer-desc {
  text-align: center;
  margin: 0;
  color: #2e2f42;
}

.footer-link {
  position: relative;
}

.footer-link::before {
  content: '';
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%) skewX(-12deg);
  z-index: -1;
  width: 110%;
  height: 24%;
  background-color: #4e75ff;
  transition: 200ms ease;
}

.footer-link:hover::before,
.footer-link:focus::before {
  height: 32%;
  background-color: #6c8cff;
}
